.container-app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsla(10, 82%, 65%, 1);

background: linear-gradient(180deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 77%);

background: -moz-linear-gradient(180deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 77%);

background: -webkit-linear-gradient(180deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 77%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ef745c", endColorstr="#34073d", GradientType=1 );
}
.links {
  border: 2px solid black;
  padding: 5px;
  background-color: beige;
  border-radius: 10px;
  width: 90%;
  height: 30px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}